<section class="main__completed">
  <div class="container">
    <div class="main__completed--inner">
      <div class="main__completed--wrapper">
        <div class="row">
          <h2 class="col-lg-12 main__completed--title">
            送信完了
          </h2>
        </div>
        <div class="main__completed--content">
          <div class="row">
            <p class="col-lg-12 main__completed--text">
              お問い合わせいただきました内容を確認後、ご連絡させていただきます。
              <br>
              ※回答にはお時間をいただく場合がございます。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>