<section class="main__privacy">
  <div class="container">
    <div class="main__privacy--inner">
      <div class="main__privacy--wrapper">
        <div class="row">
          <h2 class="col-lg-12 main__privacy--title">
            プライバシーポリシー
          </h2>
        </div>
        <div class="main__privacy--textlist">
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                Sumadora 個人情報保護方針について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                Sumadoraは、当サービスの利用に対し個人情報をご提供していただいた方（以下「皆様」）の個人情報につきまして、
                <br>
                それを尊重し、以下の方針に基づき個人情報の保護に努めることを宣言します。
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                *************************************************
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第1条　関連法令等の遵守について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスは、「個人情報の保護に関する法律」及び関連法令、諸官庁のガイドライン、並びに各都道府県が定める条例を遵守し、
                <br>
                個人情報を厳重に取り扱います。
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第2条　個人情報の定義について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスが規定する皆様の個人情報を以下のように定めます。
                <br>
                <span class="main__privacy--textchild">
                  (1)氏名
                  <br>
                  (2)会社名
                  <br>
                  (3)所属部署名
                  <br>
                  (4)メールアドレス
                  <br>
                  (5)電話番号
                  <br>
                  (6)上記以外に皆様を特定するためのあらゆる情報
                </span>
                <br>
                また、上記以外でも、他の情報と照合することで個人を特定することのできる情報の全部又は一部も含みます。
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第3条　個人情報の利用目的について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスでは、取得した個人情報を、取得する際に示した利用目的及び以下の目的の範囲内で利用します。
                <br>
                利用目的に照らして不要となった個人情報につきましては、速やかにかつ適正に削除・廃棄いたします。
                <br>
                <span class="main__privacy--textchild">
                  1.当サービスの運営に資するため
                  <br>
                  2.当サービスへのご支援、ご協力をお願いするため
                  <br>
                  3.Webサイト等（メール・電話を含みます）に寄せられたお問い合わせへのご回答のため
                  <br>
                  4.個人を特定できない範囲内の方法で資料等を作成するため
                </span>
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第4条　個人情報の開示・修正・利用中止等について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスは、個人情報の開示・修正・利用中止等の請求がご本人により書面でなされた場合、適切な方法で本人であることを確認した上で、
                <br>
                かかる請求に対応します。
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第5条　個人情報の第三者への開示・提供について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスは、皆様から頂いた個人情報に関し、以下の場合に、第三者へ個人情報を開示・提供することがあります。
                <br>
                <span class="main__privacy--textchild">
                  1.法令に基づき提供を求められたとき
                  <br>
                  2.人の生命、身体又は財産の保護のために必要がある場合で、本人の同意を得ることが困難であるとき
                  <br>
                  3.公衆衛生の向上又は青少年の健全な育成のために特に必要な場合で、本人の同意を得ることが困難であるとき
                  <br>
                  4.国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、
                  <br>
                  　本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
                </span>
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第6条　個人情報の管理について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスは、個人情報の重要性を理解した上で、その正確性を維持し、安全に管理します。
                <br>
                また、個人情報への不正アクセス、個人情報の改ざん・漏えい・破損を防止するため、必要かつ適切な安全管理措置を講じます。
                <br>
                万一の発生時には速やかに是正措置をします。
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第7条　匿名加工情報の作成・提供について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスは、匿名加工情報を作成する際には、特定の個人を識別することができないよう適切な加工をします。
                <br>
                また、匿名加工情報を第三者に提供する際は、当該情報が匿名加工情報であることを明示します。
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                第8条　本基本方針の変更について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                当サービスでは、本基本方針を関連法令等の制定・改正等に基づき、必要に応じてその内容を改訂する場合があります。
                <br>
                改訂した際は、その旨を本Webサイトにてわかりやすくお知らせします。
              </p>
            </div>
          </div>
          <div class="main__privacy--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__privacy--heading">
                個人情報の取り扱いに関するお問い合わせ先
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__privacy--text">
                ご提供いただいた個人情報の取り扱いに関するご要望・ご質問などございましたら、お問い合わせフォームよりご連絡ください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>