<section class="main__team">
  <div class="container">
    <div class="main__team--inner">
      <div class="main__team--wrapper">
        <div class="row">
          <h2 class="col-lg-12 main__team--title">
            利用規約
          </h2>
        </div>
        <div class="main__team--textlist">
          <div class="main__team--textitem">
            <div class="row">
              <p class="col-lg-12 main__team--text">
                Sumadoraのサイト（以下、当サービスと言います）を利用される前に、「利用規約」に同意の上ご利用ください。
                <br>
                利用いただいた場合には、「利用規約」全てに同意したものとします。
              </p>
            </div>
          </div>
          <div class="main__team--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__team--heading">
                1.著作権について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__team--text">
                このサイト上に掲載するロゴマーク・写真等の著作物、その他の情報は、当サービスないしその提供者が著作権等の知的財産権、または
                <br>
                その使用権その他の権利を有します。
                <br>
                このサイト内の情報を他のサイトや印刷物に無断で転載することはできません。
                <br>
                また、このサイト上のコンテンツの複製は私的使用の範囲内に限ります。
              </p>
            </div>
          </div>
          <div class="main__team--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__team--heading">
                2.当サービスからのご連絡内容について
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__team--text">
                このサイトからお問い合わせを頂いた際、当サービスからメールでご連絡を差し上げる場合があります。
                <br>
                メール内容の著作権は当サービスに帰属します。
                無断で転載することはできません。
              </p>
            </div>
          </div>
          <div class="main__team--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__team--heading">
                3.サイトの一時中断
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__team--text">
                当サービスは、システムの運用・管理の都合上、災害発生時など、技術上サイト提供が困難になった場合は、事前に通知することなく、
                <br>
                このサイトの提供を一時的に中断することがございます。
                <br>
                この中断により生じた損害については一切責任を負いません。
              </p>
            </div>
          </div>
          <div class="main__team--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__team--heading">
                4.コンテンツの変更
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__team--text">
                事前に通知することなく、本サイトの内容及びURLを変更することがございます。
              </p>
            </div>
          </div>
          <div class="main__team--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__team--heading">
                5.免責事項
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__team--text">
                本サイトで提供する情報、コンテンツ、その他サイト上のすべての事項は、その正確性や有用性を保証するものではありません。
                <br>
                また、このサイトをご利用したことで発生したソフトウェアやハードウェア上の事故、ご利用者間またはご利用者と第三者の間において生じた
                <br>
                トラブル、その他の事故等によるすべての損害について、当サービスはいかなる責任も負いません。
              </p>
            </div>
          </div>
          <div class="main__team--textitem">
            <div class="row">
              <h3 class="col-lg-12 main__team--heading">
                6.プライバシーについて
              </h3>
            </div>
            <div class="row">
              <p class="col-lg-12 main__team--text">
                当サービスは、利用者から提供していただいた個人情報を尊重し、プライバシー保護に努めております。
                <br>
                詳しくは「プライバシーポリシー」をご覧ください。
              </p>
            </div>
          </div>
          <div class="main__team--textitem">
            <div class="row">
              <p class="col-lg-12 main__team--text">
                規約に関するご質問などございましたら、お問い合わせフォームよりご連絡ください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>