<section class="banner__area">
  <div class="container">
    <div class="banner__area--inner">
      <div class="row">
        <h2 class="col-lg-12 banner__area--title">
          生産性をさらに高めよう。
        </h2>
      </div>
      <div class="row">
        <p class="col-lg-12 banner__area--text">
          サプリメントで、日々の仕事や学習の効率化を図ろう。
        </p>
      </div>
    </div>
  </div>
</section>

