<footer class="footer">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <p class="navbar-brand">
        <%= link_to image_tag("sumadora_logo.svg"), root_path %>
      <p>
      <ul class="navbar-nav">
        <li class="nav-item mr-4">
          <%= link_to "利用規約", term_informations_path, class: "nav-link" %>
        </li>
        <li class="nav-item mr-4">
          <%= link_to "プライバシーポリシー",  privacy_informations_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", contact_informations_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <p>©Sumadora All rights reserved.</p>
  </div>
</footer>